.product__description{
    width: 100%;
    background-color:white;
    position: absolute;
    font-size: 12pt;
    display: none;
    z-index: 2;
    margin: -10px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    text-align: left;
}

.product__description_position{
    top: 0px;
    left: 0px;    
}


.product:hover > .product__image-list > .product__description{
    display: block;
}


.modal-dialog{
    position: fixed;
    top: 0;
    bottom: 0;
    left:       0;
    right:      0;
    background: rgba(0,0,0,0.8);
	z-index:    99999;
	display:    none;
}


.modal-dialog:target{
	display:        block;
}


.close{
    position: absolute;
    width: 2%;
    height: 100%;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' id='Capa_1' x='0px' y='0px' viewBox='0 0 28 28' style='background:255;' xml:space='preserve'%3E%3Cg%3E%3Cpath style='fill:white;' d='M0,24l4,4l10-10l10,10l4-4L18,14L28,4l-4-4L14,10L4,0L0,4l10,10L0,24z'/%3E%3C/g%3E%3C/svg%3E");
}

.close_position{
    right: 0;
}
