/* .visually-hiden{ */
/*     position: absolute; */
/*     width: 1px; */
/*     height: 1px; */
/*     margin: -1px; */
/*     border: 0; */
/*     padding: 0; */
/*     clip: rect(0 0 0 0); */
/*     overflow: hiden; */
/* } */

body{
    text-align: center;
    padding: 0;
    margin: 0;
}

.header_wrap{
    background: grey;
    position: relative;
    width: 100%;
    padding: 0;
    margin: 40px auto;
}

.head_name{
    position: absolute;
    /* left:0; */
    /* top:0; */
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 50pt;

    /* background: pink; */
    /* z-index:2; */
    /* align-vertical: center; */
}


/* Icon */

.icon{
    position: absolute;
    width: 100%;
    height: 100%;
    padding:0;
    margin:0;
    z-index: 4;
    background-repeat: no-repeat;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    opacity: 0.7;

}

.icon_set{
    display:inline-block;
    position: absolute;
    background: yellow;
    left: 85%;
    top:
    margin: 0;
    padding: 0;
    z-index:2;
    width: 90px;
    height: 40px;
    border: none;
}

.icon_caption{
    padding: 0;
    /* margin-botton: 1em; */
}

.icon_group{
    /* display: inline; */
    position: relative;
    border: 0;
    margin: 0;
    padding: 0;
    width: 40px;
    height: 40px;
    /* background: yellow; */
    z-index: 3;
}

.icon:nth-of-type(1) {
    background-image: url(grid.png);
    top: 0;
    left: 0;
}

.icon:nth-of-type(2) {
    background-image: url(list.png);
    top: 0;
    left: 50px;
}

.icon:checked{
    /* border: 2px solid darkgreen; */
    opacity: 1;
    
}

article{
    display: inline-block;
    vertical-align: top;
}


input[id="list_of_cats"]:checked ~ article /* section */
{
    margin: 30px 100px;
    width: auto;
    border: 1px solid #000;
    display: block;
}



.cat{
    border: 1px solid red;
    width: 200px;
    padding: 10px;
    margin: 3% auto;

    text-align: left;
    font-size: 10pt;
    /* font-family: 'Comfortaa', cursive; */
    font-family: sant-serif;
    hiden: overflow;
}

.cat fieldset{
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
}

.cat_img img{
    vertical-align: top;
    width: 100%;
    top: 10;
    right: 5;
    bottom: 10;
    left: 0;
    margin: 0;
    padding: 0;
}

.name{
    text-align: left;
    font-size: 20pt;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; /* Многоточие */
    display: block;
    margin: 0;
    padding: 0;
}

.cat a:hover{
    color: red;
    opacity: 0.7;
}

.cat img:hover{
    color: red;
    opacity: 0.7;
}

.price {
    color: darkRed;
    font-weight: bold;
    font-size: 12pt;
}

.old_price {
    text-decoration: line-through;
    font-size: 8pt;
    display: inline;
}

.info_caption {
    white-space: pre-line;
    overflow: auto;
    display: block;
    font-weight: bold;
    margin: 3% 0 0 0
}

.information {
    white-space: pre-line;
    overflow: auto;
    display: block;
}

.category {
    font-size: 8px;
    text-decoration: underline;
    margin: 0;
    padding: 0;
}

