body{
    padding: 0;
    margin: 0;
    border: 0;
    width: 100%;
}

.head{
    /* background: pink; */
    height: 100px;
    width: 100%;
    margin: 30px auto;
    padding: 0;
    border: 0;
    top: 0;
    left: 0;
    text-align: center;
    /* border: 1pt solid black; */
    /* border-radius: 20px; */
}

.head_position{
    position:relative;
}

.head:after {
    /* position: relative; */
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    content: "";
}

.head__name{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 50pt;
    margin: 0 auto;
    padding: 0;
    border: 0;
    /* width: 100%; */
    /* height: 100%; */

}

.head__name_position{
    /* position: absolute; */
    /* text-align: center; */
    display: inline-block;
    vertical-align: middle;
    /* background: yellow; */
}
